/**
NAVBAR
*/
.nav {
    height: 100vh;
    padding: $sz-s;
    background-color: $sec-color;
    width: 100%;
    position: fixed;
    top: 0;
    display: none;
}

// @Logo
.logo{
    display: inline-flex;
    align-items: center;
}

// Brand name
.logo p {
    margin: 0;
    margin-left: 6px;
    font-weight: bold;
    color: $prm-color;
}

// @Links
.nav-link {
    display: flex;
    align-items: center;
    padding: $sz-m;
    border-radius: $rad-l;
    margin: 0;
    margin-top: 6px;
    transition: background-color 200ms linear;
}

.nav-link svg {
    margin-right: 8px;
}
.nav-link svg path {
    transition: fill 200ms linear;
}

// :states
.nav-link:hover {
    background-color: $sec-hover;
    transition: background-color 200ms linear;
}

.nav-link:hover svg path{
    fill: $prm-color;
    transition: fill 200ms linear;
}

.nav-link:active {
    background-color: $sec-active;
    transition: background-color 200ms linear;
}

// State
.nav-link.active {
    background-color: $sec-hover;
    color: $prm-color;
}

.nav-link.active svg path {
    fill: $prm-color;
}

// Mob Nav header
.mob-nav-header {
    width: 100%;
}

// @Menu Opener
.mob-nav-header .menu-opener {
    position: fixed;
    top: $sz-m;
    right: $sz-m;
    background-color: $prm-color;
    transition: background-color 200ms linear;
}

.mob-nav-header .menu-opener:hover {
    background-color: $prm-hover;
    transition: background-color 200ms linear;
}

// @Mobile Nav Header
.mob-nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $sz-s;
    padding-bottom: 0;

}



// -----------------------------------
// @MEDIA QUERRIES
// -----------------------------------
@media only screen and (min-width: 768px) {
    .nav{
        padding: $sz-m-768;
        position: sticky;
        top: 0;
        min-width: 25rem;
        width: auto;
        display: block;
    }

    .mob-nav-header{
        display: none;
    }
    .mob-nav-header .menu-opener {
        display: none;
    }

    // Mobile Logo
    .logo.mobile{
        display: none;
    }
}

