// @Stats Grid
.stats-grid {
    display: grid;
    grid-template-columns: auto;
    gap: $sz-m;
    width: 100%;
}

// @Stats Card
// Count
.stats-card h3 {
    margin-top: $sz-m;
}

// --------------------------------------------
// @MEDIA QUERRIES
// --------------------------------------------

@media only screen and (min-width: 768px) {
    .stats-grid {
        grid-template-columns: 1fr 1fr;
        gap: $sz-m-768;
    }

    // @Stats Card
    // Count
    .stats-card h3 {
        margin-top: $sz-m-768;
    }
}

@media only screen and (min-width: 1280px) {

    // @Stats Card
    // Count
    .stats-card h3 {
        margin-top: $sz-m-1280;
    }
}

@media only screen and (min-width: 1440px) {
    
    // @Stats Card
    // Count
    .stats-card h3 {
        margin-top: $sz-m-1440;
    }
}

@media only screen and (min-width: 1920px) {

    // @Stats Card
    // Count
    .stats-card h3 {
        margin-top: $sz-m-1920;
    }
}
