// @Stats Grid
.stats-grid {
    display: grid;
    grid-template-columns: auto;
    gap: $sz-m;
    width: 100%;
}

// @Stats Card
.stats-card {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: $sec-color;
    padding: $sz-m;
    border-radius: $rad-l;
}

// Description
.stats-card .description {
    align-items: flex-start;
}
// Count
.stats-card h3 {
    margin-top: $sz-m;
}

// Text
.stats-card p {
    margin-top: 0;
}

// Image
.stats-card img {
    height: 10rem;
    object-fit: contain;
}

// --------------------------------------------
// @MEDIA QUERRIES
// --------------------------------------------

@media only screen and (min-width: 768px) {
    .stats-grid {
        grid-template-columns: 1fr 1fr;
        gap: $sz-m-768;
    }

    // @Stats Card
    .stats-card {
        padding: $sz-m-768;
    }
    // Count
    .stats-card h3 {
        margin-top: $sz-m-768;
    }
}

@media only screen and (min-width: 1280px) {

    // @Stats Card
    .stats-card {
        padding: $sz-m-1280;
    }
    // Count
    .stats-card h3 {
        margin-top: $sz-m-1280;
    }
}

@media only screen and (min-width: 1440px) {
    
    // @Stats Card
    .stats-card {
        padding: $sz-m-1440;
    }
    // Count
    .stats-card h3 {
        margin-top: $sz-m-1440;
    }
}

@media only screen and (min-width: 1920px) {

    // @Stats Card
    .stats-card {
        padding: $sz-m-1920;
    }
    // Count
    .stats-card h3 {
        margin-top: $sz-m-1920;
    }
}
