// @Error Hero Skeleton
.error-hero-skeleton {
    max-width: $max-width;
    margin-top: $sz-l;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    overflow-x: hidden;
}

// Image
.error-hero-skeleton .skeleton.thumbnail {
    height: 35rem;
    width: 100%;
    border-radius: $rad-l;
}

// @Author Skeleton
.author-skeleton {
    display: flex;
    align-items: center;
}

// Text
.author-skeleton .skeleton.text {
    margin-left: 8px;
    max-width: 10rem;
}

// Avatar
.author-skeleton .skeleton.avatar {
    height: 56px;
    width: 56px;
}

// @Title
.error-hero-skeleton .skeleton.title {
    margin-top: $sz-xxl;
    height: $sz-xxl;
    margin-bottom: $sz-l;
}

// -----------------------------------------
// @MEDIA QUERRIES
// -----------------------------------------

@media only screen and (min-width: 768px) {


    // @Image
    .error-hero-skeleton .skeleton.thumbnail {
        height: 45rem;
    }

    // @Author Skeleton
    // Avatar
    .author-skeleton .skeleton.avatar {
        height: 64px;
        width: 64px;
    }

    // @Title
    .error-hero-skeleton .skeleton.title {
        height: $sz-xxl-768;
        margin-top: $sz-xxl-768;
        margin-bottom: $sz-l-768; 
    }
    
}

@media only screen and (min-width: 1280px) {
    .error-hero-skeleton .skeleton.thumbnail {
        height: 50rem;
    }

    // @Title
    .error-hero-skeleton .skeleton.title {
        height: $sz-xxl-1280;
        margin-top: $sz-xxl-1280;
        margin-bottom: $sz-l-1280; 
    }
    
}

@media only screen and (min-width: 1440px) {
    // @Title
    .error-hero-skeleton .skeleton.title {
        height: $sz-xxl-1440; 
    }
}

@media only screen and (min-width: 1920px) {
    
    // @Author Skeleton
    // Avatar
    .author-skeleton .skeleton.avatar {
        height: 72px;
        width: 72px;
    }
}
